<table class="metadata-table">
  {{ with .Params.authors }}
  <tr>
    <th>{{ i18n "author" }}</th>
    <td>
      {{ range $i, $a := . }}{{ if $i }}, {{ end }}<a href="{{ "authors" | relLangURL }}/{{ $a | urlize }}/">{{ $a }}</a>{{ end }}
    </td>
  </tr>
  {{ end }}

  {{ with .Params.year }}
  <tr>
    <th>{{ i18n "year" }}</th>
    <td>{{ . }}</td>
  </tr>
  {{ end }}

  {{ with .Params.publishers }}
  <tr>
    <th>{{ i18n "publisher" }}</th>
    <td>
      {{ range $i, $p := . }}{{ if $i }}, {{ end }}<a href="{{ "publishers" | relLangURL }}/{{ $p | urlize }}/">{{ $p }}</a>{{ end }}
    </td>
  </tr>
  {{ end }}

  {{ with .Params.place }}
  <tr>
    <th>{{ i18n "place" }}</th>
    <td>{{ . }}</td>
  </tr>
  {{ end }}

  {{ with .Params.isbn }}
  <tr>
    <th>{{ i18n "isbn" }}</th>
    <td>{{ . }}</td>
  </tr>
  {{ end }}

  {{ with .Params.pages }}
  <tr>
    <th>{{ i18n "pages" }}</th>
    <td>{{ . }}</td>
  </tr>
  {{ end }}

  {{ with .Params.edition }}
  <tr>
    <th>{{ i18n "edition" }}</th>
    <td>{{ . }}</td>
  </tr>
  {{ end }}

  {{ with .Params.series }}
  {{ if gt (len .) 0 }}
  {{ with index . 0 }}
  <tr>
    <th>{{ i18n "series" }}</th>
    <td><a href="{{ "series" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a></td>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}

  {{ with .Params.languages }}
  <tr>
    <th>{{ i18n "language" }}</th>
    <td>
      {{ range $i, $l := . }}{{ if $i }}, {{ end }}<a href="{{ "languages" | relLangURL }}/{{ $l | urlize }}/">{{ i18n (printf "lang_%s" $l) | default $l }}</a>{{ end }}
    </td>
  </tr>
  {{ end }}

  {{ with .Params.item_types }}
  <tr>
    <th>{{ i18n "item_type" }}</th>
    <td>{{ range . }}{{ i18n . | default . }}{{ end }}</td>
  </tr>
  {{ end }}

  {{ with .Params.oclc }}
  <tr>
    <th>OCLC</th>
    <td><a href="https://www.worldcat.org/oclc/{{ . }}" target="_blank" rel="noopener">{{ . }}</a></td>
  </tr>
  {{ end }}

  {{ with .Params.doi }}
  <tr>
    <th>DOI</th>
    <td><a href="https://doi.org/{{ . }}" target="_blank" rel="noopener">{{ . }}</a></td>
  </tr>
  {{ end }}

  {{ with .Params.source_url }}
  <tr>
    <th>URL</th>
    <td><a href="{{ . }}" target="_blank" rel="noopener">{{ . }}</a></td>
  </tr>
  {{ end }}
</table>
